<div style = "border-radius: 10px;box-shadow: 0 0 10px rgba(196,8,31,0.5);width: 400px;height: auto;margin: 60px auto;align: auto;text-align: center">
  <br>
  <h1 style="color: red">Do you wanna code now??</h1>
  <h4>Yeah, meen!</h4>
  <br>
  <br>
  <%= link_to 'My Blog', controller: 'articles' %>
</div>
